<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta   name="viewport" 
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link   rel="stylesheet" 
            href="assets/css/reset.css" 
            type="text/css">

    <link   rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <link   href="https://fonts.googleapis.com/css?family=Roboto" 
            rel="stylesheet">

    <link   href="https://fonts.googleapis.com/css?family=Julius+Sans+One" 
            rel="stylesheet">

    <link   href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" 
            rel="stylesheet">

    <link   rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link   rel="stylesheet" 
            href="assets/css/main.css" 
            type="text/css">

    <link   rel="stylesheet" 
            href="assets/css/button.css" 
            type="text/css">

    <title>Enea-Coding-Portfolio</title>

</head>

<body>
    <!-- BEGINNING OF HEADER  -->

    <header class="header">
        <div class="container">
            <a  href="#contactcontainer" 
                id="top"
                class="btn btn-outline-secondary">
                Contact
            </a>

        </div>
    </header>

    <!-- END OF HEADER  -->

    <!-- BEGINNING OF MODAL -->

    <div    class="modal fade" 
            id="exampleModalCenter" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="exampleModalCenterTitle" 
            aria-hidden="true">

        <div    class="modal-dialog modal-dialog-centered" 
                role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <h5     class="modal-title" 
                            id="exampleModalLongTitle">
                            Functionality not yet available.
                    </h5>

                    <button type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-secondary" 
                            data-dismiss="modal">
                            Ok
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- END OF MODAL -->

    <!-- BEGINNING OF MAIN CONTENT -->

    <main class="main">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">
                    <h1>Designer, Full-stack Developer</h1>
                    <h3>Welcome to my coding portfolio</h3>
                    <img    src="assets/images/logoman.png"
                            id="logoman" 
                            width="300" 
                            height="300">
                </div>

                <div class="row boatsection">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div    class="parallax-window" 
                                data-parallax="scroll" 
                                data-image-src="assets/images/BoatBackground.jpg" >
                        </div>

                        <div class="container">

                            <img    id="boatbackground" 
                                    src="assets/images/BoatBackground.jpg">

                            <a  href="http://eneography.com/"
                                target="_blank">

                                <button class="btn btnboatimg">
                                        About me
                                </button>
                            </a>
                           

                        </div>
                        <p id="textoverboat">Welcome!</p>
                        <p>I have created this site to showcase some of my programming projects. If you would like to hire me based on the work you see here, please feel free to contact me.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container cardrow">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/cube.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">ONE STOP CODE SHOP</h5>
                            <p  class="card-text">Search engine that consolidates query results from multiple useful APIs, providing the user with a one stop code shop.</p>
                            <a  href="https://eneaantonicelli.github.io/Project1/index.html"
                                target="_blank" 
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/hokutoGameIcon.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">HOKUTO RPG</h5>
                            <p  class="card-text">RPG game where you choose heros and opponents and have them battle using a damage algorithm.</p>
                            <a  href="https://eneaantonicelli.github.io/unit-4-game/index.html" 
                                target="_blank"
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/vitruvian.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">TRIVIA</h5>
                            <p  class="card-text">Responsive trivia game using HTML, CSS, JavaScript,
                                JQuery, and Bootstrap. The game features multiple choice question logic
                                with set interval timers.</p>
                            <a  href="https://eneaantonicelli.github.io/TriviaGame/index.html" 
                                target="_blank"
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/superheroLogo.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">SUPERHEROS</h5>
                            <p  class="card-text">Superhero themed hangman game using HTML, CSS, JavaScript,
                                JQuery, and Bootstrap. The game cycles through a wide range of
                                superheros with dynamic images and descriptions populating as you
                                progress.
                            </p>
                            <a  href="https://eneaantonicelli.github.io/Psychic-Game/index.html" 
                                target="_blank"
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/gif.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">REACTION GIFS!</h5>
                            <p  class="card-text">Generate reaction gifs from prepopulated buttons or search and create your own!</p>
                            <a  href="https://eneaantonicelli.github.io/GiphyRepo/index.html"
                                target="_blank" 
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/train.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">TRAIN SCHEDULER</h5>
                            <p  class="card-text">Interact with a firebase database by scheduling and logging trains. Button functionality allows user to append and remove data directly from the database.</p>
                            <a  href="https://eneaantonicelli.github.io/TrainScheduling/index.html"
                                target="_blank" 
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/liri.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">NODE LIRI</h5>
                            <p  class="card-text">Liri acts like Siri, but with written commands. Use the commands: "movie-this" to query movie information, "spotify-this-song" to query songs, and "my-tweets" to get the last 20 tweets of a specified user.  </p>
                            <a  href="https://github.com/EneaAntonicelli/liri-node-app"
                                target="_blank" 
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/amici.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">FRIEND FINDER</h5>
                            <p  class="card-text"> This application takes user input in the form of a survey. The app will then display the name and picture of the user with the best overall match. Uses: Node.JS, Express, JavaScript, JQuery, Materialize, Chosen, HTML, and CSS.
                                </p>
                            <a  href="https://intense-thicket-62994.herokuapp.com/" 
                                target="_blank"
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="card EGA_card">
                        <img    class="card-img-top" 
                                src="assets/images/burger.png" 
                                alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">BURGER MENU</h5>
                            <p  class="card-text"> This application allows the user to manipulate a burger menu that is tied to a SQL database. The purpose of the app was to introduce both SQL and Handlebars in conjunction with Express.
                                </p>
                            <a  href="https://ega-burgersapp.herokuapp.com/" 
                                target="_blank"
                                class="btn btn-primary EGA_cardButton">
                                View
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="menu-button">
            <i  class="fa fa-share-alt" 
                aria-hidden="true">
            </i>

            <a  href="https://linkedin.com/in/eneaantonicelli"
                target="_blank">

                <i  class="fa fa-linkedin-square" 
                    aria-hidden="true">
                </i>
            </a>

            <a  href="https://www.instagram.com/eneaantonicelli"
                target="_blank">
                <i  class="fa fa-instagram" 
                    aria-hidden="true">
                </i>
            </a>

            <a  href="https://github.com/EneaAntonicelli"
                target="_blank">
                <i  class="fa fa-github-alt" 
                    aria-hidden="true">
                </i>  
            </a>

        </div>
            <div    class="container" 
                    id="contactcontainer">

                <h1>Contact Me</h1>

                <div class="row contactrow">

                    <form   class="formactionpage" 
                            action="action_page.php">

                        <label for="fname">First Name</label>
                        <input  type="text" 
                                id="fname" 
                                name="firstname" 
                                placeholder="Your name..">

                        <label for="lname">Last Name</label>
                        <input  type="text" 
                                id="lname" 
                                name="lastname" 
                                placeholder="Your last name..">

                        <label for="country">Country</label>
                        <select id="country" 
                                name="country">
                            <option value="usa">USA</option>
                            <option value="canada">Canada</option>
                            <option value="australia">Australia</option>
                            
                            
                        </select>

                        <label for="subject">Subject</label>
                        <textarea   id="subject" name="subject" 
                                    placeholder="Function not yet available! Express.js functionality coming soon..." 
                                    style="height:200px">
                        </textarea>

                        <a  href="" 
                            data-toggle="modal" 
                            data-target="#exampleModalCenter"
                            class="btn btn-primary EGA_submitButton">Submit</a>

                        <!-- <input  type="submit" 
                                value="Submit"> -->

                    </form>
                </div>
            </div>
        
<!-- BACK TO TOP BUTTON -->

<a  href="javascript:" 
    id="return-to-top">

    <i  class="fa fa-rocket" 
        aria-hidden="true">
    </i>

</a>
<!-- BACK TO TOP BUTTON -->

<!-- END OF MAIN CONTENT -->

    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"                                      
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>



    <script type="text/javascript" 
            src="assets/javascript/button.js" >
    </script>
</body>

</html>